{{! views/index.hbs }}

{{! Set page title }}
{{#> layout title="Login" }}

<div class="text-center mt-5">
  <h1 class="display-4 mb-4">Spotify Personality Guesser</h1>
  <p class="lead mb-4">Discover your music‑based MBTI profile</p>

  <a href="/login" class="btn btn-success btn-lg">
    Login with Spotify
  </a>
</div>

{{/layout}}
